body{
    margin:0;
    padding:0;
    font-family: 'Roboto Slab', serif;
    background: url(https://kydrin.co.za/Images/Organisations/pinkdrive-fulllogo.jpg);
    
}
.box{
    width:300px;
    padding:30px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background:#f16cc55e;
    text-align:center;

}
.box h1{
    color:black;
    text-transform:uppercase;
    font-weight: 700;

}
.box input[type="text"],.box input[type="password"]
{
    border:0;
    font-weight: 700;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 3px solid rgb(0, 0, 0);
    padding: 14px 10px;
    width: 220px;
    outline: none;
    color:black;
    border-radius: 24px;
    transition: 0.25px;
    
}
.box input[type="text"]:focus,.box input[type="password"]:focus{
    width: 270px;
    border-color: #f380cd;
    
}
.box input[type="submit"]{
    border:0;
    font-weight: 700;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 3px solid #40dfc9ec;
    padding: 14px 35px;
    outline: none;
    color: black;
    border-radius: 24px;
    transition: 0.25px;
    cursor: pointer;
  
}
.box input[type="submit"]:hover{
    background: #bd5e98a8;
}
